body {
  margin: 0;
}

h1 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h2 {
  font-size: 30px;
  font-family: 'Lora, sans-serif';
  color: rgba(255, 255, 255, 0.8);
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(https://picsum.photos/2000/400);
  background-size :cover;
  text-align: center;
  box-sizing: border-box;
  padding-top: 120px;
}

.container {
  width: 900px;
  margin: 50px auto;
}

.content-header {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
}

.content-paragraph {
  font-size: 18px;
  font-family: 'Lora', sans-serif;
}

a {
  font-family: 'Lora';
  font-size: 25px;
  color: #636363;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media (max-width: 1000px) {
  .container {
    width: 700px
  }  
}

@media (max-width: 800px) {
  .container {
    width: 500px
  }  
}

@media (max-width: 570px) {
  .container {
    width: 350px
  }
  h1 {
    font-size: 30px
  }
  h2 {
    font-size: 18px;
  }
  .banner {
    height: 300px;
  }
}

